* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  font-family: "Lato", sans-serif;
}
/*------------------------------------header section----------------------------------------*/
header {
  background: #2ecab6;
  height: 7vh;
  padding: 5px 35px;
  /* display: flex;justify-content: space-between;*/
}
/*.logo{
        width: 20%;
        margin-top: 0px;   
      }*/
.logo h3 {
  font-size: 25px;
}
.logo h3 a {
  color: black;
  text-decoration: none;
}
.text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  width: 50%;
}
.fa-arrow-left,
.fa-house-user {
  color: white;
  position: absolute;
  top: 20px;
}
.fa-arrow-left {
  left: 20%;
  display: none;
}
.fa-house-user {
  right: 5%;
}
.myaccount {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("town1.png");
  height: 45vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: white;
}
.myaccount p {
  font-size: 25px;
}
.fa-user-circle {
  color: white;
  padding-top: 50px;
}
/*------------------------------------card section----------------------------------------*/
.blocks {
  background: white;
  width: 100%;
}
.b {
  margin: 10px;
}
.block .fa-home,
.block .fa-calendar-check,
.block .fa-clock,
.block .fa-check,
.block .fa-credit-card {
  color: #2ecab6;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
  padding-top: 20px;
  text-align: center;
}
.block {
  text-align: center;
  background: #fff;
  border: medium none;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 3px;
  width: 100%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.block:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}

.block p {
  font-size: 20px;
  color: black;
}
.b1 {
  background: rgb(255, 145, 55);
}
.b2 {
  background: rgb(106, 219, 91);
}
.b3 {
  background: rgb(255, 106, 235);
}
.b4 {
  background: rgb(255, 57, 57);
}
.b5 {
  background: rgb(253, 226, 70);
}

/*-------------------------------------logout section----------------------------------------*/
.logout_section {
  background-color: #2ecab6;
  height: 10vh;
}
.logout_section button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 25px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.logout_section button:hover::after {
  transform: scaleX(1);
}
.logout_section button::after {
  content: "";
  background-image: linear-gradient(to left, #512cf7, #1388e8, #4aeaf0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.5s;
}
/*------------------- Desktop view-------------------------- */

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
.mobview {
  display: none;
}
@media (max-width: 600px) {
  header {
    padding: 10px;
  }
  .new {
    display: none;
  }
  .logo h3 {
    font-size: 15px;
  }

  .logo {
    top: 10px;
    left: 5%;
    display: block;
  }
  .fa-arrow-left {
    top: 10px;
    left: 5%;
    display: none;
  }
  .fa-arrow-left {
    font-size: 25px !important;
  }
  .myaccount {
    height: 26vh;
  }
  .myaccount p {
    font-size: 20px;
  }
  .fa-user-circle {
    padding-top: 20px;
    font-size: 70px;
  }
  .blocks {
    display: none;
  }
  .mobview {
    display: block;
    background: whitesmoke;
  }
  .card p {
    float: right;
  }
  .card {
    margin: 0px;
  }
  .card-body {
    padding: 10px 10px;
  }
  .fa-home,
  .fa-calendar-check,
  .fa-clock,
  .fa-check,
  .fa-credit-card {
    color: #2ecab6;
    margin-right: 10px;
  }
  hr {
    margin: 0px;
  }
  .logout_section {
    height: 8vh;
  }
  .logout_section button {
    padding: 5px 25px;
    font-size: 18px;
  }
}
